@charset "utf-8";

.login_errorMessage {
	padding-bottom: 20px;
}
.errorMessage,
.login_errorMessage {
	color: red;
	padding-left: 10px;
}
.login_wrapper {
	width: 60%;
	height: 500px;
	display: grid;
	justify-items: start;
	margin-right: 20%;
}
/* index page css ------------------------------------------------------------------------*/

a {
	color: #000;
}
/*-----phone elements---------------------------------------------------------------------*/
#phone_menu {
	display: none;
}
#login_wrap {
	display: none;
}
/*-----phone elements---------------------------------------------------------------------*/
#ggggg {
	clear: none;
	float: left;
	height: 30px;
	width: 50%;
	display: none;
	z-index: 999;
	position: absolute;
}

#wrap::-webkit-scrollbar {
	width: 10px;
}
#wrap::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: white;
}
#wrap::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	background-color: #f2865e;
}
#wrap {
	overflow-y: scroll;
	background-color: #d8dde8;
	float: left;
	clear: none;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url('../assets/img/henry-be-IicyiaPYGGI-unsplash.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#banner {
	float: left;
	clear: both;
	min-height: 80px;
	width: 100%;
	border-bottom: 1px solid gray;
	margin-bottom: 2px;
	position: relative;
	background-color: #f2865e;
}
#menu {
	background-color: white;
	float: left;
	clear: none;
	min-height: 30px;
	width: 100%;
	padding-top: 10px;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0px;
	align-content: center;
	box-shadow: 1px 2px 7px #888888;
	z-index: 1000;
}
#activities {
	clear: none;
	float: left;
	min-height: 565px;
	width: 15%;
	background-color: white;
	padding-top: 95px;
}
#main_content {
	clear: none;
	float: left;
	min-height: 660px;
	width: 85%;
	background-color: white;
	transition: all 1s;
	text-shadow: 0px 0px #b94345;
	display: grid;
	justify-items: center;
	align-items: center;
}

#footer {
	background-color: #d8dde8;
	clear: none;
	float: left;
	min-height: 70px;
	width: 100%;
	border-top: 2px solid #f25d07;
	margin-top: 20px;
	bottom: 0;
	left: 0;
}
.submenu {
	clear: none;
	float: left;
	min-height: 20px;
	width: 10%;
	background-color: white;
	position: absolute;
	text-align: center;
}
.submenu:hover {
	border-bottom-color: #f25d07;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	cursor: pointer;
}
#home {
	left: 30%;
}
#aboutUs {
	left: 40%;
}
#contactUs {
	left: 50%;
}

.signInUp {
	clear: none;
	float: right;
	height: 30px;
	width: 7%;
	text-align: center;
	padding-top: 5px;
	margin-top: 22px;
	margin-bottom: 5px;
	border-radius: 20px;
	border: 2px solid #f25d07;
}
#signup:hover {
	background-color: #f25d07;
	color: white;
	cursor: pointer;
}
#signin:hover {
	background-color: #f25d07;
	text-decoration-color: white;
	color: white;
	cursor: pointer;
}
#signin {
	margin-right: 5px;
}
#signup {
	margin-right: 10px;
}

#logo {
	background-color: #f2865e;
	clear: none;
	float: left;
	height: 80px;
	width: 6%;
	background-image: url('../assets/Icons/mentor_icon.png');
	background-repeat: no-repeat;
	background-size: 100% 80px;
	border-radius: 20px;
	margin-left: 30px;
}
.view_pages_icon {
	background-color: #ffffff;
	clear: none;
	float: left;
	height: 60px;
	width: 25%;

	background-repeat: no-repeat;
	background-size: 95% 60px;
	box-shadow: 1px 2px 5px gray;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

#adress {
	clear: none;
	float: left;
	min-height: 50px;
	width: 80%;
	padding-top: 15px;
	color: #0e6973;
	position: absolute;
	left: 15%;
}
.activities_links {
	clear: none;
	float: left;
	height: 42px;
	width: 65%;
	margin-left: 10px;
	padding-top: 23px;
	color: grey;
}
.link_and_icon {
	clear: none;
	float: left;
	min-height: 40px;
	width: 80%;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	transition: all 0.2s;
	margin-top: 20px;
}
.link_and_icon:hover {
	box-shadow: 1px 2px 5px gray;
	cursor: pointer;
}
#banner_title {
	color: #d8dde8;
	text-transform: capitalize;
	position: absolute;
	left: 40%;
	padding-top: 20px;
	font-size: 3em;
}
#welcome_note {
	clear: none;
	float: right;
	min-height: 300px;
	width: 90%;
	margin-top: 100px;
	margin-left: 10px;
	border-radius: 10px;
	background-color: white;
}
#welcome_image {
	background-color: #edecec;
	clear: none;
	float: left;
	height: 300px;
	width: 60%;
	background-image: url('../assets/img/two-women-look-at-laptop.jpg');
	background-repeat: no-repeat;
	background-size: 100% 300px;
	border-radius: 10px;
}
#welcom_content {
	clear: none;
	float: right;
	min-height: 100px;
	width: 35%;
	padding-top: 50px;
	padding-right: 20px;
	color: gray;
	font-style: normal;
	font-weight: 400;
	background-color: white;
	font-size: 1.5em;
	line-height: 1.5em;
}

.mentor_cotes {
	padding-top: 100px;
	box-sizing: border-box;
	clear: none;
	float: left;
	min-height: 50px;
	width: 100%;
	background-color: white;
	padding-bottom: 10px;
	color: gray;
	padding-left: 10px;
	padding-right: 5px;
	font-size: 1.5em;
}

#welcome_note_index {
	clear: none;
	float: right;
	min-height: 300px;
	width: 90%;
	margin-top: 17px;
	margin-left: 10px;
	border-radius: 10px;
	background-color: white;
}

/* index page css ------------------------------------------------------------------------*/

/*  user welcome page ------------------------------------------------------------------------css*/

#user_welcome_image {
	background-color: #edecec;
	clear: none;
	float: left;
	height: 445px;
	width: 80%;
	background-image: url('../assets/img/GettyImages.jpeg');
	background-repeat: no-repeat;
	background-size: 100% 445px;
	border-radius: 10px;
	font-size: 100;
}
.user_welcome_note {
	clear: none;
	float: right;
	min-height: 450px;
	width: 90%;
	margin-left: 10px;
	border-radius: 10px;
	background-color: white;
}

#user_welcom_title {
	text-align: center;
	clear: none;
	float: left;
	height: 50px;
	width: 80%;

	text-shadow: 1px 2px 5px #f8f4f4;
	color: gray;
	text-transform: capitalize;
	padding-top: 20px;
	font-size: 2.5em;
	margin-top: 50px;
	margin-bottom: 50px;
}
#user_welcom_title::before {
	content: 'welcome ';
}
#user_main_content {
	clear: none;
	float: left;
	min-height: 700px;
	width: 85%;
	background-color: white;
	transition: all 1s;
	/* text-align: center; */
	text-shadow: 0px 0px #b94345;
}
#user_activities {
	clear: none;
	float: left;
	width: 15%;
	min-height: 550px;
	background-color: white;
	padding-top: 150px;
}
#user_profile {
	clear: none;
	float: right;
	height: 50px;
	width: 20%;
	text-align: center;
	margin-top: 15px;
}

#user_profile_pc {
	background-color: #f5f4f4;
	clear: none;
	float: left;
	height: 50px;
	width: 25%;
	border-radius: 10px;
	padding-top: 5px;
	background-image: url('../assets/Icons/profile_image.png');
	background-size: 100% 50px;
	background-repeat: no-repeat;
}
.user_profile_name {
	clear: none;
	float: left;
	height: 15px;
	width: 65%;
	margin-top: 5px;
	text-align: left;
	color: black;
	padding-left: 5px;
}
#user_logOut:hover {
	cursor: pointer;
	text-decoration: underline;
}

/* user welcome page css------------------------------------------------------------------------*/

/*  -----all mentors list css ---------------------------------------------------------------------*/

#mentors_list {
	clear: none;
	float: left;
	min-height: 10px;
	width: 97%;
	background-color: #ffffff;
	font-size: 100;
	box-shadow: 1px 2px 7px gray;
	left: 0px;
	margin-bottom: 10px;
}
#mentors {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	height: 15px;
}

#mentors td,
#mentors th {
	border: 1px solid #ddd;
	padding: 8px;
}

#mentors tr:nth-child(even) {
	background-color: #f2f2f2;
}

#mentors tr:hover {
	background-color: #ddd;
}

#mentors th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: gray;
	color: white;
}
#text_fild_wrap {
	background-color: #fdfcfc;
	clear: none;
	float: left;
	min-height: 50px;
	width: 50%;
	left: 15%;
	position: relative;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 1px 2px 7px gray;
}
#mentor_filter {
	clear: none;
	float: left;
	min-height: 100px;
	width: 100%;
	background-color: white;
	margin-top: 10px;
}
#filter_text_fild {
	float: left;
	clear: none;
	width: 92%;
	height: 50px;
	font-size: 1.5em;
	border-radius: 10px;
	border-width: 0px;
	outline: none;
	background-size: 7% 50px;
	background-repeat: no-repeat;
	padding: 1px 1px 1px 8%;
}
.add_session {
	clear: none;
	float: left;
	height: 30px;
	width: 25%;
	border-radius: 50px;
	text-align: center;
	background-size: 100% 30px;
	background-repeat: no-repeat;
	left: 35%;
	position: relative;
}
.add_session:hover {
	background-size: 100% 30.5px;
	height: 31px;
	width: 26%;
	cursor: pointer;
}

.view_session {
	border: 1px solid gray;
	clear: none;
	float: left;
	height: 28px;
	width: 25%;
	border-radius: 50px;
	text-align: center;
	background-size: 100% 30px;
	background-repeat: no-repeat;
	left: 35%;
	position: relative;
}
.view_session:hover {
	background-size: 100% 30.5px;
	height: 29px;
	width: 26%;
	cursor: pointer;
}
.table_email {
	text-transform: lowercase;
}

#mentor_list_main_wrap {
	clear: none;
	float: left;
	min-height: 450px;
	width: 90%;
	margin-left: 0px;
	border-radius: 10px;
	background-color: white;
}

#mentors_welcom_title {
	clear: none;
	float: left;
	height: 50px;
	width: 80%;
	text-align: center;
	text-shadow: 1px 2px 5px #f8f4f4;
	color: gray;
	text-transform: capitalize;
	padding-top: 20px;
	font-size: 2.5em;
	margin-top: 50px;
	margin-bottom: 50px;
}
#mentors_welcom_title::after {
	content: 'All Available mentors';
}
.activities_main_wrap {
	float: left;
	clear: none;
	min-height: 10px;
	width: 100%;
	background-color: white;
}

/* ----- all mentors list css-----------------------------------------------------------*/

/* -----all session css -----------------------------------------------------------*/

#session_welcom_title {
	text-align: center;
	clear: none;
	float: left;
	height: 50px;
	width: 80%;

	text-shadow: 1px 2px 5px #f8f4f4;
	color: gray;
	text-transform: capitalize;
	padding-top: 20px;
	font-size: 2.5em;
	margin-top: 50px;
	margin-bottom: 50px;
}
#session_welcom_title::after {
	content: 'All Available Sessions';
}

.review_session {
	border: 1px solid gray;
	clear: none;
	float: left;
	height: 28px;
	width: 25%;
	border-radius: 50px;
	text-align: center;
	background-size: 100% 30px;
	background-repeat: no-repeat;
	left: 35%;
	position: relative;
}
.review_session:hover {
	background-size: 100% 30.5px;
	height: 29px;
	width: 26%;
	cursor: pointer;
}
#all_mentors {
	background-image: url('../assets/Icons/logo.jpg');
	background-size: 95% 45px;
	background-position: center;
}

/* ------------  all session css -----------------------------------------------------------*/

/*---signup css file ----------------------------------------------------------- */
#signup_welcome_note {
	clear: none;
	float: left;
	min-height: 300px;
	width: 60%;
	margin-top: 20px;
	border-radius: 10px;
	background-color: white;
	border: 1px solid #f25d07;
	padding-left: 10%;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 20px;
	position: relative;
	left: 10%;
}

input.signUpform {
	width: 80%;
	border-radius: 20px;
	margin: 5px;
	height: 30px;
	outline: none;
	border: 1px solid gray;
	font-size: 1.3em;
	padding-left: 10px;
	padding-right: 10px;
}
textarea.signUpform {
	padding-right: 10px;
	padding-left: 10px;
	width: 80%;
	border-color: gray;
	border-radius: 20px;
	margin: 5px;
	height: 80px;
	border: 1px solid gray;
	outline: none;
	font-size: 1.5em;
}
#submit_button {
	clear: none;
	float: left;
	height: 30px;
	width: 20%;
	text-align: center;
	padding-top: 10px;
	margin-top: 20px;
	margin-bottom: 5px;
	border-radius: 20px;
	border: 2px solid #f25d07;
	left: 30%;
	position: relative;
}
#submit_button:hover {
	background-color: #f25d07;
	color: white;
	cursor: pointer;
	right: 30%;
}
#users_welcom_title {
	text-align: center;
	clear: none;
	float: left;
	height: 50px;
	width: 80%;

	text-shadow: 1px 2px 5px #f8f4f4;
	color: gray;
	text-transform: capitalize;
	padding-top: 20px;
	font-size: 2.5em;
	margin-top: 50px;
	margin-bottom: 50px;
}
#users_welcom_title::after {
	content: 'All Available Users';
}

.change_to_mentor {
	clear: none;
	float: left;
	height: 35px;
	width: 25%;
	border-radius: 50px;
	text-align: center;
	background-size: 100% 35px;

	background-repeat: no-repeat;
	left: 35%;
	position: relative;
}
.change_to_mentor:hover {
	background-size: 100% 36px;
	height: 35px;
	width: 26%;
	cursor: pointer;
}

#signup_welcom_title {
	clear: none;
	float: left;
	height: 50px;
	width: 80%;
	text-shadow: 1px 2px 5px #f8f4f4;
	color: gray;
	text-transform: capitalize;
	padding-top: 20px;
	font-size: 2.5em;
	margin-top: 50px;
	text-align: center;
}
#signup_welcom_title::after {
	content: 'SignUp';
}

#signup_activities {
	clear: none;
	float: left;
	min-height: 455px;
	width: 15%;
	background-color: white;
	padding-top: 140px;
}
.required_star {
	color: red;
}

label {
	margin-left: 10px;
}
/*---signup css file ----------------------------------------------------------- */

/*---all_user_sesssion css file ----------------------------------------------------------- */
.no_visible {
	width: 1px;
	display: none;
}

#review_session_welcom_title {
	text-align: center;
	clear: none;
	float: left;
	height: 50px;
	width: 80%;

	text-shadow: 1px 2px 5px #f8f4f4;
	color: gray;
	text-transform: capitalize;
	padding-top: 20px;
	font-size: 2.5em;
	margin-top: 50px;
	margin-bottom: 50px;
}
#review_session_welcom_title::after {
	content: 'All Sessions Available';
}
.review_session_item {
	background-color: white;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 50px;
	clear: both;
	float: left;
	min-height: 300px;
	width: 90%;
	border-radius: 10px;
	box-shadow: 1px 2px 7px gray;
	transition: all 0.3s;
}
.review_session_item:hover {
	box-shadow: 1px 2px 7px green;
}
.mentor_profile {
	background-color: rgba(248, 248, 248, 1);
	clear: none;
	float: left;
	height: 100px;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 1px 2px 7px gray;
	font-size: 2em;
}
.mentor_image {
	background-color: rgba(248, 248, 248, 1);
	clear: none;
	float: left;
	height: 90%;
	width: 10%;
	border-radius: 10px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.mentor_name {
	background-color: rgba(248, 248, 248, 1);
	clear: none;
	float: left;
	height: 80%;
	min-width: 50%;
	padding-top: 10px;
	margin-bottom: 2px;
	color: gray;
}
.mentor_name:before {
	content: 'to : ';
}
.review_questions {
	background-color: white;
	padding: 3%;
	clear: none;
	float: left;
	height: 200px;
	width: 94%;
	overflow-x: auto;
	color: rgba(160, 160, 160, 1);
	text-align: left;
	font-size: 0.87em;
	letter-spacing: 0.1em;
	font-weight: lighter;
}

.review_questions::-webkit-scrollbar {
	width: 7px;
}
.review_questions::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: white;
}
.review_questions::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	background-color: #f2865e;
}
.button_review {
	clear: none;
	float: left;
	height: 50px;
	width: 100%;
	background-color: white;
}
.button_review {
	background-color: white;
	clear: none;
	float: left;
	min-height: 6px;
	width: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 1px solid #f2865e;
}
.delete_review {
	background-color: white;
	clear: none;
	float: left;
	height: 20px;
	width: 10%;
	margin-left: 45%;
	margin-right: 24%;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 50px;
	padding-top: 2px;
	border: 1px solid #f2865e;
	text-align: center;
	color: grey;
}
.delete_review:hover {
	background-color: #f25d07;
	text-decoration-color: white;
	color: white;
	cursor: pointer;
}
#review_session_list {
	clear: none;
	float: left;
	min-height: 10px;
	width: 97%;
	background-color: #ffffff;
	font-size: 100;
	left: 0px;
	margin-bottom: 10px;
}
.user_question {
	background-color: rgba(228, 233, 227, 0.4);
	padding: 10px;
	clear: both;
	float: right;
	min-height: 10px;
	width: 80%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	color: grey;
}

#session_list {
	clear: none;
	float: left;
	min-height: 10px;
	width: 97%;
	background-color: #ffffff;
	font-size: 100;
	left: 0px;
	margin-bottom: 10px;
}

#session_table {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	width: 100%;
	height: 15px;
}

.sesion_status {
	background-color: rgba(248, 248, 248, 1);
	clear: none;
	float: left;
	height: 30px;
	width: 100%;
	font-size: 0.5em;
	color: grey;
}
.sesion_status:before {
	content: 'status: ';
}

/*---all_user_sesssion css file ----------------------------------------------------------- */

/*--------review mentor  session css -------------------------------------*/

#session_review_wrap {
	background-color: white;
	clear: none;
	float: left;
	height: 300px;
	width: 100%;
}
#review_score {
	background-color: white;
	clear: none;
	float: left;
	height: 50px;
	width: 100%;
	text-align: center;
}
#remark_session_form {
	background-color: white;
	clear: none;
	float: left;
	height: 230px;
	width: 100%;
}

textarea.remarkform {
	padding-left: 13px;
	width: 90%;
	border-color: gray;
	border-radius: 20px;
	margin: 5px;
	height: 210px;
	border: 1px solid gray;
	outline: none;
	font-size: 1.5em;
}
img.rate_star {
	height: 40px;
	width: 5%;
	margin-top: 10px;
	cursor: pointer;
}

#review_session_welcom_title {
	text-align: center;
	clear: none;
	float: left;
	height: 50px;
	width: 80%;

	text-shadow: 1px 2px 5px #f8f4f4;
	color: gray;
	text-transform: capitalize;
	padding-top: 20px;
	font-size: 2.5em;
	margin-top: 50px;
	margin-bottom: 50px;
}
#review_session_welcom_title::after {
	content: 'Session reviewing';
}
.mentor_occupation {
	background-color: rgba(248, 248, 248, 1);
	clear: none;
	float: left;
	height: 30px;
	width: 100%;
	font-size: 0.5em;
	color: grey;
}
.mentor_occupation:before {
	content: 'Occupation: ';
}

/*--------review mentor  session css -----------------------------------review mentor  session--*/

/* -------message box css-------------------------------------------------message box------*/

.message_box {
	margin-top: 20px;
	left: 30%;
	position: fixed;
	width: 30%;
	height: 100px;
	background-color: #f2865e;
	z-index: 1002;
	box-shadow: 1px 2px 5px gray;
	border-radius: 10px;
}
#close_message {
	text-align: center;
	clear: none;
	float: right;
	height: 30px;
	width: 5%;
	background-size: 100% 30px;
	background-repeat: no-repeat;
	border-radius: 10px;
}
#close_message:hover {
	opacity: 0.4;
}

.message_body {
	float: left;
	clear: none;
	width: 50%;
	height: 50px;
	color: rgba(29, 109, 9, 0.96);
	margin-bottom: 10px;
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 10px;
	text-align: center;
	font-size: 1.2em;
}

/* -------message box css-------------------------------------------------message box------*/

/*-------------admin_delete_remark---------------------------------------admin_delete_review--*/
.session_body {
	background-color: rgba(248, 248, 248, 1);
	clear: none;
	float: left;
	min-height: 200px;
	width: 100%;
	box-shadow: 1px 2px 7px gray;
}
.mentee_mentor_name {
	background-color: rgba(248, 248, 248, 1);
	clear: none;
	float: left;
	height: 30px;
	min-width: 100%;
	padding-top: 10px;
	margin-bottom: 2px;
	color: gray;
	font-size: 2em;
}
#mentee_name:before {
	content: 'from: ';
}
#mentor_name:before {
	content: 'to: ';
}

.mentee_question {
	background-color: white;
	padding: 10px;
	clear: both;
	float: left;
	min-height: 10px;
	width: 87%;
	margin: 5%;
	border-radius: 20px;
	color: grey;
	border: 1px solid rgba(158, 158, 158, 1);
}
.mentee_question:before {
	content: 'Question :    ';
}
#remark_content {
	background-color: white;
	clear: none;
	float: left;
	min-height: 200px;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 20px;
	margin-top: 20px;
	border: 1px solid grey;
}
#remark_title {
	background-color: rgba(248, 248, 248, 1);
	clear: none;
	float: left;
	height: 30px;
	width: 100%;
	color: gray;
	font-size: 2em;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}
#session_remark_note {
	background-color: white;
	float: left;
	height: 200px;
	width: 100%;
	padding-left: 2.5;
	padding-right: 2.5;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	clear: none;
	color: grey;
}
.score_rate {
	background-color: rgba(248, 248, 248, 1);
	width: 100%;
	min-height: 10px;
	text-align: center;
}

.delete_remark {
	background-color: white;
	clear: none;
	float: left;
	height: 20px;
	width: 10%;
	margin-left: 45%;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 50px;
	padding-top: 2px;
	border: 1px solid #f2865e;
	text-align: center;
}
.delete_remark:hover {
	background-color: #f25d07;
	text-decoration-color: white;
	color: white;
	cursor: pointer;
}

#admin_remark_welcom_title {
	text-align: center;
	clear: none;
	float: left;
	height: 50px;
	width: 80%;

	text-shadow: 1px 2px 5px #f8f4f4;
	color: gray;
	text-transform: capitalize;
	padding-top: 20px;
	font-size: 2.5em;
	margin-top: 50px;
	margin-bottom: 50px;
}
#admin_remark_welcom_title::after {
	content: 'Session Remark and Score';
}

/*-------------admin_delete_remark---------------------------------------admin_delete_review--*/

/*------------all mentor sessions -----------------------------mentor session-------*/

.acc_review {
	background-color: white;
	clear: none;
	float: left;
	height: 20px;
	width: 10%;
	margin-left: 30%;
	margin-right: 1%;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 50px;
	border: 1px solid rgba(53, 193, 4, 1);
	color: rgba(62, 127, 31, 1);
	text-align: center;
}
.acc_review:hover {
	background-color: rgba(53, 193, 4, 1);
	text-decoration-color: white;
	color: white;
	cursor: pointer;
}

.rej_review {
	background-color: white;
	clear: none;
	float: left;
	height: 20px;
	width: 10%;
	margin-left: 1%;
	margin-right: 24%;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 50px;
	border: 1px solid rgba(188, 56, 58, 1);
	color: rgba(244, 174, 175, 1);
	text-align: center;
}
.rej_review:hover {
	background-color: rgba(188, 56, 58, 1);
	text-decoration-color: white;
	color: white;
	cursor: pointer;
}

.mentee_name {
	background-color: rgba(248, 248, 248, 1);
	clear: none;
	float: left;
	height: 80%;
	min-width: 50%;
	padding-top: 10px;
	margin-bottom: 2px;
	color: gray;
}
.mentee_name:before {
	content: 'from : ';
}

#mentor_session_activities {
	clear: none;
	float: left;
	width: 15%;
	min-height: 550px;
	background-color: white;
	padding-top: 291px;
}

#reject_conformation_model_title {
	clear: none;
	float: left;
	height: 30px;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
	color: gray;
	background-color: white;
	box-shadow: 1px 2px 7px #888888;
}
#reject_conformation_model_title::before {
	content: 'Are you sure you want to reject this session ?';
}
.mentee_email {
	background-color: rgba(248, 248, 248, 1);
	clear: both;
	float: left;
	height: 30px;
	width: 100%;
	font-size: 0.5em;
	color: grey;
}
.mentee_email:before {
	content: 'E-mail: ';
}
.mentee_detail {
	background-color: rgba(248, 248, 248, 1);
	clear: none;
	float: right;
	min-height: 30px;
	width: 35%;
}

/*------------all mentor sessions -----------------------------mentor session-------*/

/*---------------------create session-----------------------------------------------*/
#create_sesion_message {
	clear: none;
	float: left;
	height: 5px;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	color: rgba(147, 47, 48, 1);
}

.sesssion_form {
	background-color: white;
	margin: 10px;
	clear: both;
	float: left;
	min-height: 10px;
	width: 98%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	color: grey;
}
.session_container {
	background-color: white;
	padding: 3%;
	clear: none;
	float: left;
	height: 200px;
	width: 94%;
	overflow-x: auto;
	color: rgba(160, 160, 160, 1);
	text-align: left;
	font-size: 0.87em;
	letter-spacing: 0.1em;
	font-weight: lighter;
}

.review_session_item {
	background-color: white;
	margin-bottom: 50px;
	clear: both;
	float: left;
	min-height: 300px;
	width: 90%;
	border-radius: 10px;
	box-shadow: 1px 2px 7px gray;
	transition: all 0.3s;
}

#new_session_welcom_title {
	clear: none;
	float: left;
	height: 50px;
	width: 80%;

	text-shadow: 1px 2px 5px #f8f4f4;
	color: gray;
	text-transform: capitalize;
	padding-top: 20px;
	font-size: 2.5em;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}
#new_session_welcom_title::after {
	content: 'Create New Session';
}

/*---------------------create session-----------------------------------------------*/

/*---------------all user list-----------------------------------------------------------*/

#users_welcom_title {
	clear: none;
	float: left;
	height: 50px;
	width: 80%;

	text-shadow: 1px 2px 5px #f8f4f4;
	color: gray;
	text-transform: capitalize;
	padding-top: 20px;
	font-size: 2.5em;
	margin-top: 50px;
	margin-bottom: 50px;
}
#users_welcom_title::after {
	content: 'All Available Users';
}

.change_to_mentor {
	clear: none;
	float: left;
	height: 35px;
	width: 25%;
	border-radius: 50px;
	text-align: center;
	background-size: 100% 35px;
	background-repeat: no-repeat;
	left: 35%;
	position: relative;
}
.change_to_mentor:hover {
	background-size: 100% 36px;
	height: 35px;
	width: 26%;
	cursor: pointer;
}

/*------------------------------- all user list----------------------*/

/*------------------------mentor details pop up modal css-------------------------*/

.mentor_modal-content {
	background-color: #fefefe;
	margin: auto;
	border: 1px solid #888;
	width: 50%;
	min-height: 60%;
	position: relative;
	-webkit-animation-name: example;
	-webkit-animation-duration: 0.5s;
	animation-name: example;
	animation-duration: 0.5s;
	align-content: center;
	border-radius: 10px;
	box-shadow: 1px 2px 7px #888888;
}
#mentor_body {
	background-color: white;
	float: left;
	height: 300px;
	width: 100%;
	margin-top: 30px;
	padding-bottom: 5px;
	overflow-y: auto;
	box-shadow: 1px 2px 7px gray;
}

#mentor_body::-webkit-scrollbar {
	width: 5px;
}
#mentor_body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: white;
}
#mentor_body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	background-color: #f2865e;
}

#mentor_photo {
	background-color: white;
	clear: none;
	float: left;
	height: 100px;
	width: 20%;
	background-size: 100% 100px;
}
#mentor_nameD {
	background-color: white;
	clear: none;
	float: left;
	height: 100px;
	width: 70%;
	margin-top: 5px;
}
.mentor_nameHere {
	background-color: white;
	clear: none;
	float: left;
	height: 30px;
	width: 100%;
	text-align: center;
	color: gray;
}
#bioHere {
	background-color: white;
	clear: none;
	float: left;
	min-height: 200px;
	width: 97%;
	color: gray;
	padding: 10px;
	margin-top: 30px;
}
#mentor_profile_button {
	background-color: white;
	clear: none;
	float: left;
	height: 30px;
	width: 20%;
	margin-top: 10px;
	position: relative;
	left: 40%;
	padding-top: 5px;
	border-radius: 10px;
	border: 1px solid #f25d07;
}
#mentor_profile_button:hover {
	color: white;
	background-color: #f25d07;
}

#bio_content {
	background-color: rgba(228, 233, 227, 0.4);
	clear: none;
	float: left;
	min-height: 200px;
	width: 80%;
	left: 10%;
	position: relative;
	padding: 5px;
	border-radius: 5px;
}

/*------------------------mentor details pop up modal css-------------------------*/
/* ----------------after first  feedback -------------------------------------*/

.address_span {
	text-align: right;
}
#quotes {
	clear: none;
	float: left;
	min-height: 200px;
	width: 100%;
	opacity: 1;
	color: black;
}
#mentorQuotes2 {
	clear: none;
	float: left;
	min-height: 470px;
	width: 70%;
	opacity: 1;
	color: #fff;
	margin-left: 17%;
	font-size: 3em;
	line-height: 1.5em;
	padding: 20px;
	font-weight: 1000;
	margin-bottom: 170px;
	display: grid;
	justify-items: center;
	align-items: center;
}
#signup_main_button_wrap {
	background-color: white;
	clear: none;
	float: left;
	height: 100px;
	width: 100%;
	margin-top: 10px;
}
#signup_main {
	background-color: white;
	border: 2px solid #f25d07;
	float: left;
	height: 45px;
	width: 20%;
	font-size: 1.5em;
	color: #f25d07;
	text-align: center;
	border-radius: 10px;
	padding-top: 10px;
	margin-left: 20%;
	margin-top: 15px;
}
#signup_main:hover {
	background-color: #f25d07;
	color: white;
	cursor: pointer;
	font-size: 1.5em;
}

.newUser {
	background-color: white;
	width: 80%;
	min-height: 10px;
	font-size: 1.5em;
	float: left;
	clear: none;
	color: gray;
	padding-left: 5%;
}
/* ----------------after first  feedback -------------------------------------*/

/*-----------contct us css----------------------------------------*/

#contactUs_welcom_title {
	clear: none;
	float: left;
	height: 50px;
	width: 80%;
	text-shadow: 1px 2px 5px #f8f4f4;
	color: gray;
	text-transform: capitalize;
	padding-top: 20px;
	font-size: 2.5em;
	margin-top: 50px;
	text-align: center;
}
#contactUs_welcom_title::after {
	content: 'Contact Us';
}

/*-----------contct us css----------------------------------------*/

/*---------------------about us css -----------------------------*/

#aboutUs_welcom_title {
	clear: none;
	float: left;
	height: 50px;
	width: 80%;
	text-shadow: 1px 2px 5px #f8f4f4;
	color: gray;
	text-transform: capitalize;
	padding-top: 20px;
	font-size: 2.5em;
	margin-top: 50px;
	text-align: center;
}
#aboutUs_welcom_title::after {
	content: 'About Us';
}

#aboutus_note {
	clear: none;
	float: left;
	min-height: 300px;
	width: 60%;
	margin-top: 20px;
	border-radius: 10px;
	background-color: white;
	padding-left: 10%;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 20px;
	position: relative;
	color: gray;
}

.our_vision {
	clear: none;
	float: left;
	height: 50px;
	width: 100%;
	background-color: white;
	margin-top: 20px;
	color: #f25d07;
	font-size: 1.5em;
}
/*---------------------about us css -----------------------------*/

/*----------login css----------------------------*/

#signin_welcome_note {
	clear: none;
	float: left;
	min-height: 180x;
	width: 60%;
	margin-top: 20px;
	border-radius: 10px;
	background-color: white;
	border: 1px solid #f25d07;
	padding-left: 10%;
	padding-bottom: 10px;
	padding-top: 70px;
	margin-bottom: 5px;
	position: relative;
	left: 10%;
}

#signin_welcom_title {
	clear: none;
	float: left;
	height: 50px;
	width: 80%;
	text-shadow: 1px 2px 5px #f8f4f4;
	color: gray;
	text-transform: capitalize;
	padding-top: 20px;
	font-size: 2.5em;
	margin-top: 50px;
	text-align: center;
}
#signin_welcom_title::after {
	content: 'SignIn';
}
